body {
    background-color: #303030;
    color:#b0b0b0;
    font-family: "Segoe UI", "Microsoft JhengHei", sans-serif;
    font-size: 18px;
}

li.menu_item {
    display: inline-block;
    padding: 0 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

div.section {
    margin-top: 40px;
}

.misc {
    line-height: 150%;
}

ul {
    list-style-type: none;
}

p {
    margin-top: -10px;
    margin-bottom: 40px;
}

a {
    color:lightsteelblue;
    text-decoration: none;
}
